@model ResendEmailConfirmationVM


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>NEXA - Resend Email Confirmation</title>
    <link rel="stylesheet" href="~/css/authontication.css" />
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

    <div class="auth-container">

        <!-- LEFT -->
        <div class="auth-form">

            <div class="logo">
                <img src="~/img/logo2.png" alt="">
            </div>

            <h1>Resend Email Confirmation</h1>
            <!-- Start Form -->
            <form method="post" asp-action="ResendEmailConfirmation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input type="text" id="Email" asp-for="Email" placeholder="example@gmail.com" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn-main">Resend</button>

            </form>
            <!-- End Form -->
        </div>

        <!-- RIGHT -->
        <div class="auth-visual">

            <div class="visual-card">
                <img src="~/img/main-section.png" />
                <p>
                    Empower your workforce with personalized training programs,
                    track their progress in real-time, and make data-driven
                    decisions for promotions and career development.
                </p>
            </div>

        </div>

    </div>

</body>

</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


